appdirs==1.4.4
audioread==2.1.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cycler==0.11.0
decorator==5.1.1
docutils==0.18.1
fonttools==4.32.0
idna==3.3
joblib==1.1.0
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kiwisolver==1.4.2
librosa==0.9.1
llvmlite==0.38.0
matplotlib==3.5.2
numba==0.55.1
numpy==1.21.5
packaging==21.3
Pillow==9.1.0
pooch==1.6.0
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.8
pypiwin32==223
python-dateutil==2.8.2
pywin32==303
requests==2.27.1
resampy==0.2.2
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
SoundFile==0.10.3.post1
threadpoolctl==3.1.0
urllib3==1.26.9
vosk==0.3.32
