appdirs==1.4.4
audioread==2.1.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
coverage==5.5
cycler==0.11.0
decorator==5.1.1
deprecation==2.1.0
docutils==0.18.1
eyed3==0.9.6
filetype==1.0.13
fonttools==4.32.0
hmmlearn==0.2.5
idna==3.3
imbalanced-learn==0.8.1
imblearn==0.0
joblib==1.1.0
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kiwisolver==1.4.2
librosa==0.9.1
llvmlite==0.38.0
matplotlib==3.4.2
numba==0.55.1
numpy==1.20.3
packaging==21.3
pandas==1.2.4
Pillow==9.1.0
plotly==5.3.1
pooch==1.6.0
pyAudioAnalysis==0.3.14
pycparser==2.21
pydub==0.25.1
Pygments==2.11.2
pyparsing==3.0.8
pypiwin32==223
python-dateutil==2.8.2
pytz==2022.1
pywin32==303
requests==2.27.1
resampy==0.2.2
scikit-learn==0.24.2
scipy==1.6.3
simplejson==3.16.0
six==1.16.0
SoundFile==0.10.3.post1
tenacity==8.0.1
threadpoolctl==3.1.0
toml==0.10.2
tqdm==4.52.0
urllib3==1.26.9
vosk==0.3.32
